.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: #333;
  color: #fff;
  z-index: 1000;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.button {
  cursor: pointer;
}